@charset "utf-8";
/* CSS Document */

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.ch-item {
	width: 220px;
	height: 220px;
	position: relative;
	box-shadow: 
		inset 0 0 0 0 rgba(0, 168, 182, 0.51), inset 0 0 0 16px rgba(0, 168, 182, 0.33), 0 1px 2px rgba(0, 168, 182, 0.44);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border-radius:50%;
}

.ch-img-1 { 
	background-image: url(../images/y.jpg);
}

.ch-img-2 { 
	background-image: url(../images/w.jpg);
}

.ch-img-3 { 
	background-image: url(../images/m.jpg);
}
.ch-img-4 { 
	background-image: url(../images/h.jpg);
}
.ch-img-5 { 
	background-image: url(../images/wy.jpg);
}
.ch-img-6 { 
	background-image: url(../images/z.jpg);
}
.ch-img-7 { 
	background-image: url(../images/c.jpg);
}
.ch-img-8 { 
	background-image: url(../images/l.jpg);
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */

}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 24px;
	margin: 0 30px;
	padding: 65px 0 0 0;
	height: 40px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 19px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 110px rgba(0, 168, 182, 0.31), inset 0 0 0 16px rgba(255, 255, 255, 0.62), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.ch-item:hover .ch-info {
	opacity: 1;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}
@media(max-width:1024px){
.ch-grid li {
  width: 202px;
  height: 220px;
  display: inline-block;
  margin: 10px;
}
}
@media(max-width:768px){
.ch-grid li {
  width: 220px;
  height: 220px;
}
}
.wecome {
  padding: 4em 0em 4em 0em;
  text-align: center;
  margin-top:10%
}
.wecome h3 {
  font-size: 2.5em;
  color: #00a8b6;
  font-family: 'HammersmithOne-Regular';
}
.wecome p {
  font-size: 1.2em;
  width: 55%;
  color:#8E8D8D;
  margin: 0 auto;
  line-height: 1.8em;
}
.wecome a {
  font-size: 1em;
  color: #fff;
  display: block;
  padding: 0.5em 0em 0.5em 0em;
  width: 10%;
  margin: 2em auto 0em;
  background: #8fbe00;
  border-radius: 5px;
}
.wecome a:hover {
  text-decoration:none;
  background:#00a8b6;
}


/*--message end here--*/

.team-top h3 {
  font-size: 1.5em;
}
.team-mem {
  padding: 4em 0em 4em 0em;
}
/*--about end here--*/
/*--team start here--*/
.team-top h3 {
  text-align: center;
  font-size: 2.5em;
  color:#8fbe00;
  font-family: 'HammersmithOne-Regular';
}
